@model Models.View.BasketViewModel



<h4>@User.Claims.FirstOrDefault(c => c.Type == "given_name")?.Value, this is your shopping cart!</h4>


        <table class="table">
            <thead>
                <tr class="columnHeader">
                    <th>PRODUCT NAME</th>
                    <th>PRICE PER BOTTLE</th>
                    <th>QUANTITY</th>
                    <th>TOTAL</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var line in Model.BasketLines)
                {
                    <tr>
                        <td>@line.Name</td>
                        <td class="bold">$@line.Price</td>
                        <td>
                            <form asp-action="UpdateLine">
                                <input type="hidden" name="LineId" value="@line.LineId" />
                                <select name="Quantity" class="w-25" asp-for="@line.Quantity">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                                <button type="submit" class="filterButton">Update</button>
                            </form>
                        </td>
                        <td class="bold">$@(line.Price * line.Quantity) </td>
                        <td>
                            <a asp-action="RemoveLine" asp-route-lineId="@line.LineId">
                                <img class="cancelIcon" src="~/img/times.svg" />
                            </a>
                        </td>
                    </tr>
                }

            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4" class="text-right bold big">Discount:</td>
                    <td class="text-right bold big">
                        @Model.Discount.ToString("c")
                    </td>
                </tr>
                <tr>
                    <td colspan="4" class="text-right bold big">Total:</td>
                    <td class="text-right bold big">
                        @((Model.ShoppingCartTotal - Model.Discount).ToString("c"))
                    </td>
                </tr>
            </tfoot>
        </table>

        <div class="row">
            @if (Model.Discount > 0)
            {
                <div class="col-9">
                    <h4>You have a coupon!</h4>

                    <div class="showcode">

                        <span class="coupon-code" data-original-title="" title="">@Model.Discount.ToString("c")</span>
                        <span class="show-code">Discount</span>

                    </div>
                </div>
            }
            <div class="col-3">
                <div class="text-center">
                    <a class="btn btn-primary" asp-controller="ShoppingBasket" asp-action="Checkout">Check out now!</a>
                </div>
            </div>

        </div>


        <div class="mt-2">
            <a asp-controller="WineCatalog" asp-action="Index">
                <img class="backIcon" src="~/img/arrow-down.svg" /> Back to catalog
            </a>
        </div>
    

